@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes animate-hover-heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#footer-container:hover #heart-icon {
  animation: animate-hover-heart 1s infinite;
}

.scrollbar-text {
  --sb-size: 0px;
  --sb-height: 0px;
}

.scrollbar-text::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-height);
}
